@import "tailwindcss";

body {
  min-width: 100vw;
  min-height: 100vh;
  background: #000;
  color: rgba(255, 255, 255, 0.94);
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: hsl(240, 10%, 3.9%);
}



.max-width {
  max-width: 1200px;
  margin: 0 auto;
}

a.nav-link {
  @apply font-bold bg-transparent rounded-lg p-3 px-4;
  color: rgba(255, 255, 255, 0.94);
}

a.nav-link:hover {
  background: rgba(255, 255, 255, 0.08);
}

.gradiant {
  background: linear-gradient(135deg, #6df2d2 0%, #13ff6f 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (min-width: 768px) {
  .heading {
    font-size: 3rem;
    line-height: 1;
  }
}
.heading {
  text-align: center;
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
}

.text-purple {
  --tw-text-opacity: 1;
  color: rgb(203 172 249 / 1);
}

.grid-black {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='100' height='100' fill='none' stroke='rgb(0 0 0 / 0.2)'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e");
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='100' height='100' fill='none' stroke='rgb(255 255 255 / 0.03)'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e");
  background-color: rgb(0 3 25/ 1);
}

main,
.grid-black > div {
  background-color: rgb(0 3 25/ 1);
}

@keyframes spotlight {
  from {
    opacity: 0;
    filter: blur(10px);
    left: 0px;
  }
  to {
    opacity: 1;
    left: -128px;

    filter: blur(30px);
  }
}

.project-hover {
  transform: translate(-50%, -50%) rotateX(0deg) scale(1);
}
.project:hover .project-hover {
  transform: translate(-50%, -50%) rotateX(45deg) scale(0.8);
}
.project {
  @apply flex h-[32rem] w-[90vw] items-center justify-center sm:h-[42rem] sm:w-[570px] lg:min-h-[32.5rem];
}

.gradien-project {
  background-image: linear-gradient(40deg, rgba(108, 0, 162), rgba(0, 17, 82));
}

.heading {
  text-align: center;
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
}

@media (min-width: 768px) {
  .heading {
    font-size: 3rem;
    line-height: 1;
  }
}

a.social{
  background-color: rgba(17,25,40,.75)
}